<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Show Page</title>
</head>
<body>
    <h1>Welcome to Show page</h1>
    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Review</th>
                <th>Downloads</th>
                <th>Size</th>
                <th>Image</th>
            </tr>
        </thead>

        <tbody style="border:2px solid black;">
            {% for i in game %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.type_name }}</td>
                <td>{{ i.review }}</td>
                <td>{{ i.download }}</td>
                <td>{{ i.size }}</td>
                <td>
                    {% if i.image %}
                        <img src="{{ i.image.url }}" height="200" width="200" alt="{{ i.name }}"/>
                    {% else %}
                        No image Found
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
